<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
            <div class="container"></div>
               
                    <div class="col-sm-8 mx-auto">
                   <br>
                      <p>
                            Incroyable ! Seul ZEENS, vous permet de payer votre magazine jusqu’à 50 % moins cher, chez votre marchand de journaux — Et c’est facile : rendez-vous chez votre marchand, prenez votre magazine et présentez ZEENS à la caisse.

                            * : taux maximal — Les réductions concernent une sélection de titres, renouvelée chaque jour — L’opération est uniquement valable dans la limite des stocks disponibles et dans les points de vente participants (ZEENS vous indique ceux près de chez vous).  
                        <br>   <br>   <br>   <br>
                            <a class="btn btn-primary" [routerLink]="['/mynew']"  role="button"> Explore Page</a>
                      </p>
                    </div>
            
                </div>
                
</div>